# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.irb-history
*.swp
.DS_Store
.vagrant
playbook.retry

# Ignore all IDE files.
*.sublime-project
*.sublime-workspace
.idea
/coverage

# Ignore unwanted or secure provision files.
.ansible_vault_pass
